<h1>Listing profiles</h1>

<!-- <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Email</th>
      <th>Mobile</th>
      <th>Photo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
   
  </tbody>
</table>

<br> -->


<div id="users">
<% @profiles.each do | user |  %>
  <div class="user">
    <p>
      <strong><%=h user.user_name %></strong><strong><%=h user.first_name %></strong><strong><%=h user.last_name %></strong>
      <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
      <div class="clear"></div>
    </p>
  </div>
<% end %>
</div>


<%= link_to 'New Profile', new_profile_path %>

